/* global font link */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


/*######################

    Modal Styling

######################*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

body {
    background: url(https://github.com/niwantha33/modal_animate/blob/main/starter/images/j.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    /* Add the blur effect */   
    height: 100vh;
    position: relative;
    /* background-color: black; */
}

#open-btn {
    position: absolute;
    top: 70%;
    left: 10%;
    width: 350px;
    height: 80px;
    font-size: 2rem;
    /* color: #ffff; */
    border: solid 2px #ffff;
    /* background-color: transparent;
     */
     background-color: #25c46c80;
    border-radius: 5px;
    box-shadow: 0 0 3px black;
    transform: 0.4s;
}

#open-btn:hover {
    /* background-color: transparent;
    background-color:  hsla(0, 0%, 0%, 0); */
    /* background-color: #ffff; */

    background-color:  hsla(0, 0%, 0%, 0); 

    color: rgb(241, 231, 231);
}

#modal {
    background-color: #ffff;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px 20px;
    width: 200px;
    height: 100px;
    font-size: 1.5rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
    animation-name: animate_modal;
    animation-duration: .9s;

}

#close-btn {
    font-size: 3rem;

}

#close-btn {
    cursor: pointer;
    font-size: 3rem;
    color: #ff000f;
    z-index: 1;
}

#modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

}

/* modal animation */

@keyframes animate_modal {

    from {
        top: -300px;
        opacity: 0;
    }

    to {
        top: 50%;
        opacity: 1;
    }

}